.new-tweet {
  width: 100%;
  margin: auto;
  display: none;
}

textarea {
  width: 100%;
  height: auto;
  resize: none;
  outline: none;
  background-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: black;
  border-bottom-width: thick;
  font-weight: bold;
  margin-top: 2.2rem;
  ;
}

.error-msg {
  display: none;
  border: 3px solid;
  border-width: thick;
  color: red;
  margin-top: 30px;
  padding: 20px;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

button {
  color: white;
  background-color: #4056A1;
}

.red-counter {
  color: red;
}