.new-tweet {
  width: 100%;
  margin: auto;
}

textarea {
  width: 100%;
  height: auto;  
  resize: none;
  outline: none;
  background-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: black;
  border-bottom-width: thick;
}

.error-msg {
  border-color: red;
  color: red;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  margin: 15px;
}

button {
  color: white;
  background-color: #4056A1;
}

.red-counter {
  color: red;
}