article.tweet {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  border: 3px solid black;
  border-width: thick;
  margin-top: 50px;
}

article.tweet:hover {
  box-shadow: 10px 10px 5px 0px #4057a174;
}

article.tweet header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}

article.tweet img {
  max-height: 70%;
  max-width: 70%;
}

article.tweet h3 {
  width: 48%;
}

article.tweet h4 {
  color: rgba(167, 165, 165, 0.414);
  width: 45%;
  text-align: right;
}

article.tweet content {
  width: 100%;
  margin: 8px;
  border-bottom: 3px solid black;
  border-width: thick;
  padding-left: 25px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 25px;
  width: 100%;
}

.icons {
  color: #4056A1;
  width: 8%;
  display: flex;
  justify-content: flex-end;
}

.icons i {
  margin-right: 0.5em;
}

.icons i:hover {
  color: rgb(175, 218, 175);
}